Datasets/hiring_log_high-xes.gz
Datasets/hiring_log_high.xes
Datasets/hiring_log_low-xes.gz
Datasets/hiring_log_low.xes
Datasets/hiring_log_medium-xes.gz
Datasets/hiring_log_medium.xes
Datasets/hospital_log_high-xes.gz
Datasets/hospital_log_high.xes
Datasets/hospital_log_low-xes.gz
Datasets/hospital_log_low.xes
Datasets/hospital_log_medium-xes.gz
Datasets/hospital_log_medium.xes
Datasets/lending_log_high-xes.gz
Datasets/lending_log_high.xes
Datasets/lending_log_low-xes.gz
Datasets/lending_log_low.xes
Datasets/lending_log_medium-xes.gz
Datasets/lending_log_medium.xes
Datasets/renting_log_high-xes.gz
Datasets/renting_log_high.xes
Datasets/renting_log_low-xes.gz
Datasets/renting_log_low.xes
Datasets/renting_log_medium-xes.gz
Datasets/renting_log_medium.xes
Datasets/Dataset_descriptions.pptx
playground.py
playground.ipynb
DP_OOPPM/__pycache__
.ipynb_checkpoints
alexander_code.py
Preprocessing/__pycache__